.list{
    height:300px;
    width: 200px;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    /* background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%); */
    /* background: #f84e27; */
    justify-content: space-around;
    display: flex;
    border-radius: 20px;
    border: solid;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.listItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 10px;

}
.listItem button{
    width: 50px;

  margin-left: 60px;
background: #3dec9a;
color: white;
border: none;
cursor: pointer;
border-radius: 5px;

}
.listItem input{
    border: none;
    text-align: center;
    border-radius: 0px 8px;
   
}



  